<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="../../../css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../../js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
 <ul class="breadcrumb" style="  margin:0px; " >
    	<li><a href="#">班级管理</a></li>
        <li>课程表</li>
    </ul>
</div>
<form class="form-inline">
<div class="row alert alert-info"  style="margin:0px; padding:3px;" >

     <div class="form-group">
         <label class="" for="activename">课程表名称：</label>
        <input type="email" class="form-control" id="activename" placeholder="请输入课程表名称">
      </div>

    <input type="button"   class="btn btn-danger"     value="查询"/>
    <a  class="btn btn-success"  href="syllabusinfo_add.html">添加课程表</a>
    
</div>
<div class="row" style="padding:15px; padding-top:0px; ">
	<table class="table  table-condensed table-striped">
    	<tr>
        	<th>编号</th>
            <th>课程表名称</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期天</th>
            <th>操作</th>
        </tr>
       	<tr>
        	<td>1001</td>
            <td>java课程表</td>
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <td>下午上课</td>
               <td>下午上课</td>
            <td>上午上课</td>
            <th>
            <a href="syllabusinfo_update.html">修改</a> 
            <a href="">删除</a>
            </th>
        </tr>   
       	<tr>
        	<td>1001</td>
            <td>java课程表</td>
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
               <td>下午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <th>
            <a href="syllabusinfo_update.html">修改</a> 
            <a href="">删除</a>
            </th>
        </tr>         	<tr>
        	<td>1001</td>
            <td>java课程表</td>
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <td>下午上课</td>
          	<td>下午上课</td>     
            <td>上午上课</td>
            <td>下午上课</td>
            <td>上午上课</td>
            <th>
            <a href="syllabusinfo_update.html">修改</a> 
            <a href="">删除</a>
            </th>
        </tr>               
     	                   
    </table>
</div>
</form>
</body>
</html>
