<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="../../../css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../../js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
 <ul class="breadcrumb" style="  margin:0px; " >
    	<li><a href="#">招生管理</a></li>
        <li>招生线索</li>
    </ul>
</div>
<form class="form-inline">
<div class="row alert alert-info"  style="margin:0px; padding:3px;" >

     <div class="form-group">
         <label class="" for="activename">学员姓名：</label>
        <input type="email" class="form-control" id="activename" placeholder="请输入学员姓名">
      </div>
    <div class="form-group">
         <label class="" for="activename">学员意向：</label>
		 <select name="" class="form-control">
         	<option>请选择</option>
         	<option>无</option>
            <option>意向强</option>
         </select>	
      </div>
    <input type="button"   class="btn btn-danger"     value="查询"/>
    <a  class="btn btn-success"  href="recruitstudent_add.html">添加学员</a>
    
</div>
<div class="row" style="padding:15px; padding-top:0px; ">
	<table class="table  table-condensed table-striped">
    	<tr>
        	<th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>手机号码</th>
            <th>电子邮件</th>
            <th>所在院校</th>
            <th>操作</th>
        </tr>
       	<tr>
        	<td>1001</td>
            <td>猪八戒</td>
            <td>男</td>
            <td>18</td>
            <td>152xxxxxxxx</td>
            <td>xxxx@qq.com</td>
            <td>社会大学</td>
            <th>
            <a href="recruitstudent_update.html">修改</a> 
          
            <a href="">删除</a>
            
            </th>
        </tr>
           	<tr>
        	<td>1001</td>
            <td>猪八戒</td>
            <td>男</td>
            <td>18</td>
            <td>152xxxxxxxx</td>
            <td>xxxx@qq.com</td>
            <td>社会大学</td>
            <th>
            <a href="recruitstudent_update.html">修改</a> 
     
            <a href="">删除</a>
            
            </th>
        </tr>       	<tr>
        	<td>1001</td>
            <td>猪八戒</td>
            <td>男</td>
            <td>18</td>
            <td>152xxxxxxxx</td>
            <td>xxxx@qq.com</td>
            <td>社会大学</td>
            <th>
            <a href="recruitstudent_update.html">修改</a> 
          
            <a href="">删除</a>
            
            </th>
        </tr>    	                   
    </table>
</div>
</form>
</body>
</html>
