<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="../../../css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../../js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
 <ul class="breadcrumb" style="  margin:0px; " >
    	<li><a href="#">营销管理</a></li>
        <li>短信管理</li>
    </ul>
</div>
<div class="row alert alert-info"  style="margin:0px; padding:3px;" >
<form class="form-horizontal">
	<div class="col-sm-2">电话号码:</div>
    <div class="col-sm-3">
    	<input type="text"  class="form-control input-sm"/>
    </div>
    <input type="button"   class="btn btn-danger"     value="查询"/>
    <a  class="btn btn-success"  href="messafeinfo_send.html"   >发送短信</a>
    </form>
</div>
<div class="row" style="padding:15px; padding-top:0px; ">
	<table class="table  table-condensed table-striped">
    	<tr>
        	<th>编号</th>
            <th>发送人</th>
            <th>短信内容</th>
            <th>发送时间</th>
            <th>接收人</th>
            <th>接收号码</th>
            <th>操作</th>
        </tr>
       	<tr>
        	<td>1001</td>
            <td>张三</td>
            <td>您好XXX，祝您生日快乐</td>
            <td>2014-02-02</td>
            <td>李四</td>
            <td>900010101</td>
            <th><a href="messafeinfo_show.html">查看</a> <a href="">删除</a></th>
        </tr>
                 	<tr>
        	<td>1001</td>
            <td>张三</td>
            <td>您好XXX，祝您生日快乐</td>
            <td>2014-02-02</td>
            <td>李四</td>
            <td>900010101</td>
            <th><a href="messafeinfo_show.html">查看</a> <a href="">删除</a></th>
        </tr>       	<tr>
        	<td>1001</td>
            <td>张三</td>
            <td>您好XXX，祝您生日快乐</td>
            <td>2014-02-02</td>
            <td>李四</td>
            <td>900010101</td>
            <th><a href="messafeinfo_show.html">查看</a> <a href="">删除</a></th>
        </tr>      
    </table>
</div>

</body>
</html>
